doctype html

html
    head

    
    body
    table
        thead
            tr
                th User
                th Location
        tbody
            each line in data
                tr
                    each val in line
                        td= val